
<div class="top_page_content">

  <div class="top-wrapper">

      <div class="container">
        <h1>オンライン学習で財務プロフェッショナルを目指しませんか?</h1>
        <p>ファイナンシャルProは、実践的な財務シミュレーションや企業価値評価を学ぶためのオンライン学習サービスです。</p>
        <p>最先端の教育を受けた講師による動画解説で、財務モデリング、DCFValuationからエクセル講座まで、幅広い分野を実践的に学ぶことができます。</p>

        <%=link_to("/signup")do%>
        <input class="btn top-start" type="submit" value="新規登録をして始める">
        <%end%>
      </div>

  </div>
   <div class="top-comment">
      <div class="container">
        <p>✔︎ 最先端のファイナンス教育を積んだ、実務経験者による講義<span class="comment-space"></span></p>
        <p>✔︎ オンラインでいつでもどこでも学習できる</p>
        <p>✔︎ 定期的なチェックテストとエクセルモデルの作成で、確実に力がつく</p>
      </div>
   </div>

   <div class="about-wrapper">
       <div class="about-top">
         <h4>ファイナンスProだからできること</h4>
       </div>
       <div class="abouts">
         <div class="about background">
           <div class="content">
             <img src="/site_image/about-1.png">
           </div>
           <div class="text">
            <h4>いつでもどこでも学習できる</h4>
            <p>移動時間やテキストの準備がいらないから、あなたのスケジュールを邪魔することはありません。オンラインだから、いつでもどこでもあなたの好きな時に効率的に学ぶことができます。</p>
           </div>
         </div>
         <div class="about">
           <div class="content">
             <img src="/site_image/about-2.png">
           </div>
           <div class="text">
             <h4>即戦力になるスキルを身につけられる</h4>
             <p>財務のプロによって考えられた効率的・実践的な学習構成で、あなたの財務プロフェッショナルへの道をサポートします。</p>
           </div>
         </div>
         <div class="about background">
           <div class="content">
             <img src="/site_image/about-3.png">
           </div>
           <div class="text">
             <h4>オンライン＋リアルタイム講義で疑問を解消</h4>
             <p>定期的に財務プロフェッショナルによるリアルタイム講習を開催。その場で疑問を解消することができます。</p>
           </div>
         </div>
       </div>
   </div>

   <div class="lesson-wrapper">
      <div class="container">
        <h3>学べる分野</h3>

        <div class="lessons">

          <div class="lesson zaimu">

            <div class="lesson-icon">
              <img src="/site_image/lesson-1.png">
              <h4>財務モデリング</h4>
              <p>ビジネス上の様々な数値処理、シュミレーションをすばやく的確に行なうために、Excelを最大級に活用してスプレッドシートを効果的に作成する技術です。</p>
            </div>

          </div>

          <div class="lesson dcf">

            <div class="lesson-icon">
              <img src="/site_image/lesson-2.png">
              <h4>DCF Valuation</h4>
              <p>Discount Cash Flowの略で、「割引キャッシュフロー法」と表現されることもあり、事業が生み出す期待キャッシュフロー全体を割引率で割り引いて企業価値を算出する方法です。</p>
            </div>

          </div>

          <div class="lesson comps">

            <div class="lesson-icon">
              <img src="/site_image/lesson-3.png">
              <h4>Comps Valuation</h4>
              <p>評価対象企業と類似する上場企業の市場株価を基に算出したマルチプル（乗数）を、評価対象企業に適用して企業価値・株式価値を算出する方法です。</p>
            </div>

          </div>

          <div class="clear"></div>

        </div>

      </div>
    </div>

    <div class="message-wrapper">
      <div class="container">
        <div class="message-title">
          <h3>さぁ、さっそく始めよう。</h3>
          <h3>あなたも財務プロフェッショナルの即戦力に。</h3>
        </div>
        <%=link_to("/signup")do%>
        <input class="btn message-start" type="submit" value="新規登録">
        <%end%>
      </div>
    </div>

</div>
