// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
 box-sizing:border-box;
}

body {
 margin: 0;
 font-family: Helvetica;
}

a {
 text-decoration: none;
}

.clear {
 clear: left;
}

.container {
 width: 100%;
 padding: 0 8%;
 margin: 0 auto;
}

/* ヘッダー------------ */
header{
 background-color:#6D7278;
 opacity:0.9;
 height:60px;
 width:100%;
 position:fixed;
 top:0;
 z-index:10;

 a {
   color:white;
 }

 .menu-icon {
   color: white;
   float: right;
   font-size: 25px;
   padding: 21px 0;
   display:none;
 }

 .head-logo img{
   float:left;
   padding-top:10px;
   padding-left:10px;
   display:block;
   width:180px;
 }

 .header-right{
   float:right;
   line-height: 60px;
   color:white;

   a {
     margin-left: 30px;

     &:hover {
       border-bottom: 1px solid #000000;
     }
   }
 }

@media all and (max-width:1000px){
  .menu-icon{
    display:block;
  }
  .header-right a{
    display:none;
  }
  .footer-left{
    font-size:10px;
  }
  .footer-right{
    width:150px;
  }
}

}
/* ヘッダーfin------------ */



/* フッター-------------- */
footer{
 background-color:#6D7278;
 height:65px;
 width:100%;

 .footer-right{
   float:right;
   width:180px;
   display:block;
   margin-right:10px;
   margin-top:10px;
 }
 .footer-left{
   margin-left:20px;
 }
 .footer-left a{
   color:white;
   float:left;
   margin-right: 60px;
   line-height: 65px;
   padding:0 7px;
   transition: 0.5s;
   &:hover{
     background-color: lighten(#6D7278,10%);
   }
 }

}
/* フッターfin------------ */




/* top------------------- */
.top_page_content {
  .top-wrapper{
    padding:130px 0 80px 0;
    color:white;
    height:530px;
    width:100%;
    background-image: url("/site_image/top-background5.png");
    background-size: cover;
    text-align:center;
    h1{
      font-size:35px;
      letter-spacing: 2px;
    }
    .top-start{
      font-size:18px;
      margin:10px;
      color:white;
      padding:15px 50px;
      display:inline-block;
      background-color:#99A3AE ;
      opacity:0.9;
      border-radius:8px;
      box-shadow: 0px 5px darken(#99A3AE,20%) ;
      &:hover{
        opacity:1;
      }
      &:active{
        position: relative;
        top:5px;
        box-shadow:none;
      }
    }
  }

  .top-comment{
    text-align: center;
    padding:0.5px 0 0.5px 0;
    width:100%;
    background: #952662;
    opacity:0.8;
    letter-spacing: 1px;
    p{
      line-height: 20px;
      color:white;
    }
    .comment-space{
      margin-right:35px;
    }
  }


  .about-wrapper{
    padding:3% 0 2% 0;
    text-align: center;
    background-color: white;
    .background{
      background-color: lighten(#99A3AE,30%);
    }
    .about-top{
      font-size:20px;
    }
    .text{
      margin:0 15% 0 15%;
    }
    h4{
      line-height: 4px;
    }
    p{
      padding-bottom: 15px;
    }
  }

  .lesson-wrapper{
    text-align:center;
    padding: 50px 0 35px 0;
    background-color:#f7f7f7;
    .lesson{
      float:left;
      width:33%;
    }
    .lesson-icon{
      position:relative;
      opacity:0.7;
      h4{
        position:absolute;
        font-size: 25px;
        top: 10%;
        width: 100%;
      }
      p{
        padding:0 40px;
        position:absolute;
        top: 40%;
      }
    }
    .lesson-img{
      width:90%;
    }
  }
  .message-wrapper{
    text-align: center;
    padding-top:50px;
  }
  .message-title h3{
    line-height: 4px;
    opacity:0.8;
  }
  .message-start{
    font-size: 18px;
    margin:20px 0 50px 0;
    color:white;
    padding:17px 60px;
    display:inline-block;
    background-color: #B66533;
    opacity:0.9;
    border-radius:8px;
    box-shadow: 0px 5px darken(#B66533,10%);
    &:hover{
      opacity:1;
    }
    &:active{
      position: relative;
      top:5px;
      box-shadow:none;
    }
   }
/* top fin-------------- */





//ここから修正
   // タブレット画面
   @media all and (max-width:1000px){

     .top-wrapper{
       padding-top:150px;
       h1{
         font-size: 23px;
       }
       p{
         font-size: 14px;
       }
     }
     .lesson-wrapper{
       padding: 30px 0 15px 0;
       .lesson{
         width:50%;
         margin-bottom: 50px;
         }
         .lesson-img{
           width:70%;
         }
     }
     header{
       .head-logo img{
         display:block;
         width:140px;
       }

       .header-right{
         font-size: 13px;
         a{
           margin-right: 3px;
         }
       }
       .footer-left{
         font-size: 13px;
       }
     }
   }

   //スマホ画面
   @media all and (max-width:670px){

     .top-wrapper{
       text-align: left;
       h1{
         font-size: 25px;
       }
       p{
         font-size: 13px;
       }
       .top-comment{
         font-size:13px;
       }
     }

     .lesson-wrapper{
       .lesson {
         width: 100%;
       }
     }
     .btn {
       text-align: center;
       width: 90%;
     }
   }
}
