
/* フォーム================================ */
.users-new{
  padding:2% 0 3% 0;

  .form-heading {
    font-weight: 300;
    margin: 60px 0 20px;
    font-size: 48px;
    color: #bcc8d4;
  }

  .form {
    max-width: 600px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 2px 6px #c1ced7;
    input {
    width: 100%;
    border: 1px solid #d8dadf;
    padding: 10px;
    color: #57575f;
    font-size: 16px;
    letter-spacing: 2px;
    border-radius: 2px;
    }
    textarea {
      width: 100%;
      min-height: 110px;
      font-size: 16px;
      letter-spacing: 2px;
    }
    input[type="submit"] {
      background-color: #B66533;
      color: white;
      cursor: pointer;
      font-weight: 300;
      width: 120px;
      border-radius: 2px;
      margin-top: 8px;
      margin-bottom: 0;
      float: right;
      box-shadow: 0px 3px darken(#B66533,10%);
      &:hover{
        opacity:1;
      }
      &:active{
        position: relative;
        top:3px;
        box-shadow:none;
      }
    }
  }

  .form-body {
    padding: 30px;
  }

  .form-error {
    color: #ff4d75;
  }
}


/* ??================================ */
.form-body:after {
  content: '';
  display: table;
  clear: both;
}
