<!DOCTYPE html>
<html>
  <head>
    <title>FinancePro</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


  </head>

  <body>
    <header>

      <div class="container">
        <div class="head-logo">
          <a href="#"><img  src="/site_image/logo2.png"></a>
        </div>
        <span class="fa fa-bars menu-icon"></span>
        <div class="header-right">
          <a class="about" href="#">ABOUT</a>
          <a class="detail" href="#">学習イメージ・料金</a>
          <a id="login-show"  class="login" href="#">ログイン</a>
          <a class-"new" href="#">新規登録</a>

        </div>
      </div>

    </header>



    <div class="login-modal-wrapper" id="login-modal">
      <div class="modal">
        <div class="close-modal">
          <i class="fa fa-2x fa-times"></i>
        </div>
        <div id="login-form">
          <h2>Emailログイン</h2>
          <form action="#">
            <input class="form-control" type="text" placeholder="メールアドレス">
            <input class="form-control" type="password" placeholder="パスワード">
            <div id="submit-btn">ログイン</div>
          </form>
        </div>
      </div>
    </div>


    <%= yield %>
    <footer>
      <div class="container">

          <a href="#"><img class="footer-right" src="/site_image/logo2.png" ></a>
        <div class="footer-left">
          <a href="#">企業情報</a>
          <a href="#">問い合わせ</a>
        </div>
      </div>
    </footer>
    <script src="application.js"></script>

  </body>
</html>
